:root{
    --navbarFont: 'Macondo', cursive;
    --headersFont: 'Fredericka the Great', cursive;
    --mainTextFont: 'Indie Flower', cursive;
    --mainPageColor1: maroon;
    --mainPageColor2: peru;
    --mainPageColor3: wheat;
}
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background: url(../media/HomePage/mainPageBg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
nav ul{
    width: 88%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
}
ul li a{
    font-family: var(--navbarFont);
    text-decoration: none;
    font-size: 5vh;
    font-weight: bold;
    color: black;
    border: 4px solid transparent;
    transition: 0.4s;
}
#currentPage, ul li a:hover{
    color: var(--mainPageColor1);
    border: 4px solid var(--mainPageColor1);
    border-left-color: transparent;
    border-right-color: transparent;
}
#shopCartIcon{
    position: fixed;
    top: 2vh;
    right: 7.5%;
    z-index: 100;
}
#shopCartIcon a{
    padding: 8px;
    border-color: var(--mainPageColor1);
    border-radius: 50%;
    color: var(--mainPageColor1);
    background: var(--mainPageColor3);
}
#shopCartIcon a:hover{
    color: var(--mainPageColor3);
    background: var(--mainPageColor1);
    border-color: var(--mainPageColor3);
}
#pageDescription{
    margin-top: 5%;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#pageDescription h1{
    align-self: center;
    text-align: center;
    width: 30%;
    font-family: var(--headersFont);
    font-size: 14vh;
    color: var(--mainPageColor1);
    text-shadow:5px 5px 8px black;
}
#pageDescription h2{
    width: 50%;
    margin-top: 2%;
    font-family: var(--mainTextFont);
    font-size: 4vh;
}
span{
    color: var(--mainPageColor1);
}
#sortByOptions{
    margin: 5% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#sortByOptions h2{
    font-family: var(--headersFont);
    font-size: 6vh;
    color: var(--mainPageColor1);
}
#sortSelect, option{
    margin-left: 2%;
    background: var(--mainPageColor2);
    color: var(--mainPageColor1);
    text-align: center;
    font-family: var(--headersFont);
    font-size: 4vh;
    font-weight: bold;
    cursor: pointer;
}
#popUpBox{
    z-index: 1000;
    position:fixed;
    width: 100%;
    height: 100%;    
    left: -100%;
    top: 0%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
#popUpAlert{
    width: 40%;
    height: 40%;
    background: var(--mainPageColor1);
    border: 4px double var(--mainPageColor3);
}
#popUpAlert table{
    width: 100%;
    height: 100%;
    text-align: center;
}
#popUpAlert td{
    color: var(--mainPageColor3);
    font-family: var(--headersFont);
    font-size: 4vh;
    font-weight: bold;
}
#popUpAlert td:nth-child(2n){
    color: var(--mainPageColor2);
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height:fit-content;
}
.recordCard{
    margin-bottom: 5%;
    padding: 1%;
    width: 28%;
    border: 4px double black;   
    border-radius: 10%;
    height: 45vh;
    display: flex;
    background: linear-gradient(45deg, rgba(205,133,63,1) 15%, rgba(245,222,179,1) 75%);
    text-align: center;
}
.recordCard h1{
    font-size: 3.5vh;
    font-family: var(--headersFont);
}
.recordCard h2{
    font-size: 3.7vh;
    font-family: var(--headersFont);
    color: var(--mainPageColor1);
}
.recordCard p{
    font-family: var(--mainTextFont);
    font-size: 2.7vh;
    font-weight: bold;
}
.recordInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}
.cardBtns{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
}
.addToCartBtn{
    border-radius: 50%;
    padding: 8px 13px;
    background: var(--mainPageColor3);
    color: var(--mainPageColor1);
    border: 3px solid var(--mainPageColor1);
    font-size:20px;
    cursor: pointer;
    transition: 0.2s;
}
.addToCartBtn:hover{
    background: var(--mainPageColor1);
    color: var(--mainPageColor3);
    border-color: var(--mainPageColor3);
}
.recordImages{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.record2Pics{
    width: 95%;
    height: 70%;
    border-radius: 10%;
    border: 2px solid black;
    transition: 0.5s;
}
footer{
    position: relative;
    width: 100%;
}
#rightsFooter{
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 5vh;
    background: rgba(0, 0, 0, 0.55);
    color: var(--mainPageColor3);
    font-size: 2.5vh;
}
#rightsFooter a{
    margin-left: 5vw;
    text-decoration: none;
    color: var(--mainPageColor3);
    transition: 0.1s;
}
#rightsFooter a:hover{
    color: var(--mainPageColor2);
}



@media screen and (max-width:1001px){
    .recordCard{
        width: 40%;
    }
}
@media screen and (max-width:701px){
    #popUpAlert{
        width: 55%;
        height: 50%;
    }
    nav ul{
        width: 100%;
    }
    #shopCartIcon a{
        font-size: 5vh;
    }
    #shopCartIcon{
        top: 10vh;
        right: 2.5%;
    }
    #pageDescription{
        margin-top: 10%;
        margin-bottom: 10%;
        flex-direction: column;
        align-items: center;
    }
    #pageDescription h2{
        text-align: center;
        width: 100%;
    }
    #pageDescription h1{
        width: 100%;
    }
    .recordCard{
        width: 65%;
        height: 55vh;
    }
    .recordCard h1, .recordCard h2{
        font-size: 4vh;
    }
    #container{
        margin-bottom: 5%;
    }
}
@media screen and (max-width:551px){
    #sortByOptions{
        flex-direction: column;
        align-items: center;
    }
    #sortByOptions button{
        width: 50%;
        padding: 7px 0px;
        margin-left: 0%;
        margin-top: 1%;
    }
    #popUpAlert{
        width: 75%;
    }
    ul li a{
        font-size: 4vh;
    }
    .recordCard{
        width: 75%;
    }
}
@media screen and (max-width:451px){
    #pageDescription h1{
        font-size: 12vh;
    }
    #pageDescription h2{
        font-size: 3.5vh;
    }
    .recordCard{
        width: 85%;
        height: 50vh;
    }
}
@media screen and (max-width:401px){
    ul li a{
        font-size: 3.5vh;
    }
    #popUpAlert{
        width: 85%;
    }
    .recordCard{
        width: 90%;
    }
}
@media screen and (max-width:376px){
    .recordCard{
        width: 95%;
    }
    .recordCard h1{
        font-size: 3.5vh;
    }
    #rightsFooter{
        font-size: 2vh;
    }
}