:root{
    --navbarFont: 'Macondo', cursive;
    --headersFont: 'Fredericka the Great', cursive;
    --mainTextFont: 'Indie Flower', cursive;
    --mainPageColor1: maroon;
    --mainPageColor2: peru;
    --mainPageColor3: wheat;
}
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background: url(../media/HomePage/mainPageBg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
nav ul{
    width: 88%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
}
ul li a{
    font-family: var(--navbarFont);
    text-decoration: none;
    font-size: 5vh;
    font-weight: bold;
    color: black;
    border: 4px solid transparent;
    transition: 0.4s;
}
ul li a:hover{
    color: var(--mainPageColor1);
    border: 4px solid var(--mainPageColor1);
    border-left-color: transparent;
    border-right-color: transparent;
}
#shopCartIcon{
    position: fixed;
    top: 2vh;
    right: 7.5%;
    z-index: 100;
}
#shopCartIcon a{
    padding: 8px;
    border-color: var(--mainPageColor3);
    border-radius: 50%;
    color: var(--mainPageColor3);
    background: var(--mainPageColor1);
}
#pageDescription{
    width: 100%;
    height: fit-content;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
#pageDescription h1{
    font-family: var(--headersFont);
    font-size: 14vh;
    color: var(--mainPageColor1);
    text-shadow:5px 5px 8px black;
}
#myCartTable{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 65vh;
    margin-top: 2%;
    margin-bottom: 5%;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
}
#emptyCartMsg{
    font-size: 12vh;
    font-weight: 900;
    font-family: var(--navbarFont);
    color: var(--mainPageColor3);
}
#totalAmount{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: var(--headersFont);
    position: absolute;
    right: 5%;
    top: 0;
}
#totalAmount h1{
    font-size: 7vh;
    color: var(--mainPageColor2);
}
#totalAmountNumber{
    font-size: 6vh;
    color: var(--mainPageColor3);
}
#freeShipping{
    font-size: 3vh;
    color: var(--mainPageColor2);
}
#myCartTable table{
    padding: 25px;
    width: 60%;
    text-align: center;
    font-family: var(--navbarFont);
    position: absolute;
    top: 5%;
    left: 5%;
}
#myCartTable table tr{
    height: 25%;
}
#myCartTable table th{
    color: var(--mainPageColor2);
    font-size: 4vh;
    text-decoration: underline;
}
#myCartTable table td{
    color: var(--mainPageColor3);
    width: 25%;
    font-size: 3vh;
}
#myCartTable img{
    width: 50%;
    height: fit-content;
    border-radius: 20%;
}
#myCartTable button{
    padding: 0px 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: inherit;
    font-weight: inherit;
    background: var(--mainPageColor3);
    cursor: pointer;
}
#rightsFooter{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 5vh;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55);
    color: Wheat;
}
#rightsFooter a{
    font-size: 2.5vh;
    margin-left: 5vw;
    text-decoration: none;
    color: Wheat;
}
#rightsFooter p{
    font-size: 2.5vh;
}